<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width" />

{% seo %}

<title>{{ page.title }}</title>

<link type="application/atom+xml" rel="alternate" href="http://gmile.me/feed.xml" title="Eugene Pirogov" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/custom.css" />
<link rel="stylesheet" href="/css/rouge.css" />
