<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@gmile">
<meta name="twitter:creator" content="@gmile">
<meta name="twitter:image:src" content="{{ site.url }}/img/selfie_128.jpg">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
