---
description: Having fun redesigning Steam store page
---

%html
  %head
    %title Blackguards
    %link{ href: 'css/bootstrap.min.css', rel: 'stylesheet', type: 'text/css' }
  %body
    %h1 Blackguards

    %div{ id: 'description' }
      What happens when the only hope of a threatened world lies not with heroes in shining armor, but in the hands of a band of misfits and criminals? Blackguards, a new turn-based strategy RPG, explores this very question. You will discover over 180 unique hex-based battlegrounds within a dark and mature story of crime, drugs, and murder.
    
    %div{ id: 'video' }
      %iframe{ width: '560', height: '315', src: '//www.youtube.com/embed/4ry7oPVH8eA', frameborder: '0', allowfullscreen: '' }
