#top-details {
  margin-top: 100px;
  margin-bottom: 100px;
}

h1 { color: #FFF }

body {
  background-color: #000;
}

body:after {
  content: "";
  background: url(http://www.daedalic.de/images/layout/backgrounds/blackguards_header_rahmen.jpg) no-repeat center top;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

#buy-background {
  padding: 10px;
}

.additional .btn {
  color: #FFF;
  background-color: transparent;
  border-color: #369
}

.additional .btn:hover{
  color: #FFF;
  background-color: #369;
  border-color: #369
}

#description {
  width: 500px;
  color: #999
}

#screenshots .row {
  margin-top: 25px
}

#screenshots .row:first-child {
  margin-top: 0
}

hr {
  border-color: #222
}

#reviews h3 {
  font-size: 42px;
  color: #369
}

#reviews blockquote {
  color: #999;
  border-left: 0
}

#game-details h4, #system-requirements h4,
#game-details p, #system-requirements p,
#game-details ul, #system-requirements ul {
  color: #999
}
